/lib
.DS_Store
.settings/language.settings.xml
.idea/
.vscode
cmake-build-debug/
app/android/.classpath
app/android/.project
app/android/AndroidManifest.xml
app/android/res/raw/
compile_flags.txt
compile_commands.json
tags
*.swp
__pycache__/
.clangd
.cache/
build/
backup/
build_*
*.bak
